*{
    padding: 0%;
    margin: 0%;
}
html{
    scroll-behavior: smooth;
}
p{
    padding: 100px;
}
body{
    background-color:#52d9d1;
    
    font-family: Arial, Helvetica, sans-serif;   
}

.container{
    position: relative;
    text-align: center;
    color:#52d9d1;
    text-size-adjust: 10;
    padding: 200px;
    font-size: 30px;
    
}
.centered{
    position: absolute;
    
    transform: translate(-50%, -50%);
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    text-align: right;

}

nav{
    /* width: 0%; */
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-position: 0%;
    /* margin-left: 70%; */
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    /* width: 100%; */
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #section1{
    background-image: url("Image/LAPTOP2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  #about{
    /* margin-top: 0%;
    margin-bottom: 0%; */
     background-color:#52d9d1 ; 

  }
  #p{
    text-align: left;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 60%;
  }
  img{
     width: 400px;
     height: 400px; 
      padding: 50px;
      float: left;
  } 
  h1{
      text-align: center;
      padding-bottom: 5px;
  }

  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px; 
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    display: flex;
  }
  .column{
    flex: 33.33%;
    padding: 5px;
  }
  